<div class="text-center">

    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="form-signin p-1 m-auto">
        <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
        <a routerLink="/regis">Need an account?</a>

        <input class="form-control my-2 " style="width: 30%" type="text" placeholder="Username" name="username" ngModel required #email="ngModel">
        <input class="form-control my-2 " style="width: 30%" type="password" placeholder="Password" name="password" ngModel required #password="ngModel">
        <button class="btn btn-success" type="submit">Sign In</button>

    </form>

</div>