<div *ngIf="article" class='preview container-fluid py-3 my-1'>
    <div class='meta'>
        <img class='avatar d-inline-block media align-top' src=''>
        <div class='info ml-1 d-inline-block'>
            <a class='link' routerLink='profile/{{username}}'>{{article.author}}</a>
            <p class='date my-0'>{{article.createdAt | date:'MMMM dd, yyyy'}}</p>
        </div>
    </div>
    <a routerLink='/article-detail/{{article._id}}' class='preview-link'>
        <h3 class='mb-0 mt-2'>{{article.title}}</h3>
        <p class='mb-4 mt-0 text-secondary'>{{article.description}}</p>
        <p class='mb-4 text-secondary d-inline-block'>Read more...</p>
    </a>
    <hr>
</div>