<div *ngIf="article&&validate()">
    <div>
        <form #articleForm="ngForm" (ngSubmit)="onSubmit(articleForm)" class="form-signin p-1 m-auto">
            <label>Title : </label><input class="form-control my-2 " style="width: 30%" type="text" placeholder="{{article.title}}" name="title" ngModel required #title="ngModel">
            <label>Description : </label><input class="form-control my-2 " style="width: 30%" type="text" placeholder="{{article.description}}" name="description" ngModel #description="ngModel" value="{{article.description}}">
            <label>Body : </label><input class="form-control my-2 " style="width: 30% ; height: 30%; " type="text" placeholder="{{article.body}}" name="body" ngModel #body="ngModel">
            <button class="btn btn-success" (click)="update()">Update</button>
            <button class="btn btn-danger" type="reset">Reset</button>
        </form>
    </div>
</div>