<div class="text-center">
    <form class="form-signin p-1 m-auto">
        <input #title class="form-control my-2 " style="width: 30%" type="text" placeholder="Title">
        <input #description class="form-control my-2 " style="width: 30%" type="text" placeholder="Description">
        <input #body class="form-control my-2 " style="width: 30% ; height: 30%; " type="text" placeholder="Body">
        <button class="btn btn-success" (click)="save(title.value,description.value,body.value)">Post</button>
    </form>
</div>